@using Knockout.Validation.Exstensions
@using Newtonsoft.Json
@using Mvc4KnockoutCRUD
@model Mvc4KnockoutCRUD.Models.RootViewModel
<script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.js")"></script>
<script src="~/Scripts/knockout-3.3.0.js"></script>
<script src="@Url.Content("~/Scripts/knockout-2.2.0.debug.js")" type="text/javascript"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="@Url.Content("~/Scripts/knockout.mapping-latest.debug.js")" type="text/javascript"></script>
@*<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>*@
@*<script src="~/Scripts/knockout.validation.js"></script>*@
<script src="~/Scripts/knockout.validation.debug.js"></script>

@section scripts {
    <script type="text/javascript">
        @*Пространство имен для раздела "Заказы"*@

    var product = {};

    product.urls =  {};

    product.urls.ValidateContact = '@Url.Action("Product", "Product")';
    product.urls.PersonSave = '@Url.Action("PersonSave", "Product")';
    //MultiValidateSave
    var viewModel = @Html.Raw(JsonConvert.SerializeObject(Model.ProductValidateViewModel));
    var viewModelPerson = @Html.Raw(JsonConvert.SerializeObject(Model.PersonViewModel));
    //var viewModel
    @Html.BuidKoBaseModel(m=>m.ProductValidateViewModel, "baseModel", "product")
    @Html.BuidKoBaseModel(m => m.PersonViewModel, "basePersonViewModel", "product")
    @Html.BuidKoBaseModel(m => m.PersonViewModel.NewPhoneViewModel, "basePhoneViewModel", "product")
    </script>
    @Scripts.Render("~/bundles/MultiValidate")
}
<h2>Product section</h2>
<div id="root">
    <div>
        <div>
            <label for="name">Name</label>
            <input data-bind="value: Name" type="text" id="txt1" title="Title" />
        </div>

        <div>
            <label for="category">Description</label>
            <input data-bind="value: Description" type="text" title="Class" />
        </div>

        <div>
            <label for="category">Email</label>
            <input data-bind="value: Email" type="text" title="Class" />
        </div>

        <div>
            <label for="category">Number10</label>
            <input data-bind="value: Number10" type="text" title="Class" />
        </div>
        <div>
            <button data-bind="click: $root.create">Create product</button>
        </div>
    </div>
</div>
<h2>Person section</h2>
<div id="personRoot">
    <div>
        <label for="name">First Name</label>
        <input data-bind="value: FirstName" type="text" id="txt1" title="Title" />
    </div>
    <div>
        <label for="name">Second Name</label>
        <input data-bind="value: SecondName" type="text" id="txt1" title="Title" />
    </div>
    <div>
        <div data-bind="text: SecondName" type="text" title="Class">      </div>
    </div>

    <div>
        <label for="name">Server validation field</label>
        <input data-bind="value: ServerValidationField" type="text" id="txt1" title="Title" />
    </div>
    <div>
        <label for="category">ServerValidationField</label>
        <input type="checkbox" data-bind="checked: RequireDescription" />
    </div>
    <div>
        <label for="category">description</label>
        <input data-bind="value: Description" type="text" title="Class" />
    </div>
    <h3>Phones:</h3>
    <div data-bind="foreach: Phones">
        <span data-bind="text: Phone"></span>  &nbsp;
        <span data-bind="text: Description"></span>
    </div>
    <div>
        <button data-bind="click: $root.AddPhoneDialog">Add Phone</button>
    </div>
    <div data-bind="if: IsAddPhoneMode()">
        <div>
            <label for="category">Phone</label>
            <input data-bind="value: NewPhoneViewModel.Phone" type="text" title="Class" />
        </div>
        <div>
            <label for="category">description</label>
            <input data-bind="value: NewPhoneViewModel.Description" type="text" title="Class" />
        </div>

        <button data-bind="click: $root.SavePhone">Save</button>
    </div>
    <div>

        <button data-bind="click: $root.create">Create person</button>
    </div>
</div>

